/* General */

a.link-button {
  padding: 0 1.2rem;
  border-radius: var(--radius-sm);
  border-width: 1px;
  border-style: solid;
  box-shadow: 0 7px 8px -5px rgb(145 148 161 / 45%);
  transition: background-color 250ms ease, color 250ms ease;
}

.menu a {
  font-weight: var(--text-weight-normal);
  font-size: 0.7rem;
  padding: 0 2rem;
  color: var(--grayish-blue);
  border-bottom: solid 0.5px var(--grayish-blue);
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  transition: border 250ms ease, color 250ms ease;
}

a.red {
  background-color: var(--soft-red);
  border-color: var(--soft-red);
  color: var(--white);
}

a.blue {
  background-color: var(--soft-blue);
  border-color: var(--soft-blue);
  color: var(--white);
}

a.gray {
  background-color: var(--grayish-blue);
  border-color: var(--grayish-blue);
  color: var(--white);
}

a.red:hover {
  background-color: var(--white);
  color: var(--soft-red);
}

a.blue:hover {
  background-color: var(--white);
  color: var(--soft-blue);
}

a.gray:hover {
  background-color: var(--white);
  color: var(--grayish-blue);
}

/* Nav Desktop */

.nav-desktop ul li:not(:last-child) {
  margin: 0 1rem;
}

.nav-desktop ul li a {
  display: block;
  font-size: 0.7rem;
  height: 35px;
  line-height: 35px;
  text-transform: uppercase;
}

.nav-desktop ul li :not(a.link-button) {
  color: var(--dark-blue);
  transition: color 250ms ease;
}

.nav-desktop ul li a.link-button { 
  margin-left: 1.5rem; 
}

.nav-desktop ul li a:hover {
  color: var(--soft-red);
}

.menu a:hover {
  color: var(--soft-red);
}

/* Nav Mobile */

.nav-mobile {
  display: none;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding: var(--white-space-sm) 0;
  background-color: rgb(37 43 70 / 95%);
  transition: opacity 300ms ease;
}

.nav-mobile ul {
  flex-grow: 1;
  max-width: 90%;
	margin: var(--white-space-sm) auto 0 auto;
}

.nav-mobile ul li {
  width: 100%;
  text-align: center;
  border-top: solid 0.5px var(--grayish-blue);
}

.nav-mobile ul li a {
  display: block;
  width: 100%;
  height: 70px;
  line-height: 70px;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--white);
}

.nav-mobile ul li a:not(:last-child) {
  height: 70px;
  line-height: 70px;
}

.nav-mobile ul li:last-child {
  padding-top: 1.5rem;
}

.nav-mobile ul li:last-child a {
  height: 55px;
  line-height: 55px;
  border-radius: var(--radius-sm);
  border: solid 3px var(--white);
}

.nav-mobile div:last-child {
  position: absolute;
  bottom: calc(var(--white-space-sm) * 2);
  left: 50%;
  transform: translate(-50%);
}

.nav-mobile div:last-child img {
  margin: 0 1rem;
}

/* Hero area */

.hero :is(div, figure) { width: 50%; }
.hero div { padding-right: 5vw; }
.hero figure { position: relative; }
.hero div a:first-child { margin-right: 0.5rem; }
.hero div a:last-child { margin-left: 0.5rem; }
.hero figure { padding-left: 1vw; }
.hero figure img { width: 100%; }
.hero div p { margin-bottom: calc(var(--white-space-sm) / 2); }

.hero div a {
  font-size: 0.7rem;
  height: 40px;
  line-height: 40px;
  margin-bottom: 0.5rem;
}

.hero figure::before {
  position: absolute;
  content: '';
  bottom: calc(var(--white-space-sm) * -1);
  right: -50%;
  width: 120%;
  height: 75%;
  background-color: var(--soft-blue);
  border-radius: var(--radius-xl);
  z-index: -1;
  animation: decoration 1.3s both;
}

/* Features area */

.features :is(div, figure) { width: 50%; }
.features div { padding-left: 5vw; }
.features figure { position: relative; }
.features figure { padding-right: 1vw; }
.features figure img { width: 85%; }
.features div p { margin-bottom: calc(var(--white-space-sm) / 2); }

.features div a {
  font-size: 0.7rem;
  height: 40px;
  line-height: 40px;
  margin-bottom: 0.5rem;
}

.features figure::before {
  position: absolute;
  content: '';
  bottom: calc(var(--white-space-sm) * -1);
  left: -50%;
  width: 120%;
  height: 75%;
  background-color: var(--soft-blue);
  border-radius: var(--radius-xl);
  z-index: -1;
  animation: decoration 1.3s both;
}