body {
  padding-top: var(--white-space-sm);
  font-size: 18px;
}

main {
  overflow-x: hidden;
}

h1 {}
h2 {}
h3 {}

h4 {
  color: var(--dark-blue);
  font-weight: var(--text-weight-bold);
  font-size: clamp(20px, 2.3vw, 22px);
  margin-bottom: 0.7rem;
}

h5 {
  color: var(--dark-blue);
  font-weight: var(--text-weight-normal);
  font-size: clamp(15px, 2vw, 20px);
  margin-bottom: 1.2rem;
}

h6 {}

h1.display-1 {
  color: var(--dark-blue);
  font-weight: var(--text-weight-bold);
  font-size: clamp(29px, 4vw, 42px);
  line-height: 2.6rem;
}

h2.display-2 {
  color: var(--dark-blue);
  font-weight: var(--text-weight-bold);
  font-size: 32px;
}

h3.display-3 {
  color: var(--dark-blue);
  font-weight: var(--text-weight-bold);
  font-size: clamp(25px, 3.5vw, 35px);
  margin-bottom: 0.7rem;
}

a {
  display: inline-block;
  font-weight: var(--text--weight-bold);
  letter-spacing: 0.1rem;
}

span {
  font-weight: var(--text-weight-normal);
  line-height: 1.5rem;
  font-size: clamp(14px, 1.5vw, 16px);
  color: var(--grayish-blue);
}

p {
  font-weight: var(--text-weight-normal);
  line-height: 1.5rem;
  font-size: clamp(15px, 1.5vw, 18px);
  color: var(--grayish-blue);
}