body {
  padding-top: var(--white-space-sm);
  font-size: 18px;
}

main {
  overflow-x: hidden;
}

footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
  background-color: var(--dark-blue);
}

.footer-menu .logotype {
  width: auto;
  height: 22px;
  margin-right: 1.5rem;
}

.footer-menu a {
  font-weight: var(--text-weight-normal);
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 0 1rem;
  color: var(--white);
  transition: color 250ms ease;
}

.footer-menu a:hover {
  color: var(--soft-red);
}

h1 {}
h2 {}
h3 {}

h4 {
  color: var(--dark-blue);
  font-weight: var(--text-weight-bold);
  font-size: clamp(20px, 2.3vw, 22px);
  margin-bottom: 0.7rem;
}

h5 {
  color: var(--dark-blue);
  font-weight: var(--text-weight-normal);
  font-size: clamp(15px, 2vw, 20px);
  margin-bottom: 1.2rem;
}

h6 {
  color: var(--white);
  font-weight: var(--text-weight-bold);
  font-size: clamp(25px, 2.5vw, 33px);
  margin: 1rem 0 1.8rem 0;
}

h1.display-1 {
  color: var(--dark-blue);
  font-weight: var(--text-weight-bold);
  font-size: clamp(29px, 4vw, 42px);
  line-height: 2.6rem;
}

h2.display-2 {
  color: var(--dark-blue);
  font-weight: var(--text-weight-bold);
  font-size: 32px;
}

h3.display-3 {
  color: var(--dark-blue);
  font-weight: var(--text-weight-bold);
  font-size: clamp(25px, 3.5vw, 35px);
  margin-bottom: 0.7rem;
}

a {
  display: inline-block;
  font-weight: var(--text--weight-bold);
  letter-spacing: 0.1rem;
}

span {
  font-weight: var(--text-weight-normal);
  line-height: 1.5rem;
  font-size: clamp(14px, 1.5vw, 16px);
  color: var(--grayish-blue);
}

p {
  font-weight: var(--text-weight-normal);
  line-height: 1.5rem;
  font-size: clamp(15px, 1.5vw, 18px);
  color: var(--grayish-blue);
}