/* Best Mobile Preview: 375px :: Best Desktop Preview: 1440px */

@media screen and (max-width: 640px) {
  .nav-desktop {
    display: none;
  }

  .hamburger {
    display: inline;
  }

  .hero :is(div, figure) { width: 100%; text-align: center; }
  .hero div { padding-right: 0; }
  .hero figure { padding-left: 0; margin-bottom: calc(var(--white-space-sm) * 1.5); }
  .hero figure::before { bottom: calc(calc(var(--white-space-sm) * -1) / 5); }
  .features :is(div, figure) { width: 100%; text-align: center; }
  .features div { padding-left: 0; }
  .features figure img { width: 100%; }
  .features figure { padding-right: 0; margin-bottom: calc(var(--white-space-sm) * 1.5); }
  .features figure::before { bottom: calc(calc(var(--white-space-sm) * -1) / 1.6); }
  .features div a { display: none; }

  .md-width-100 {
    width: 100% !important;
  }

  .menu a {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 18px;
  }

  .menu a:first-child {
    border-top: solid 0.5px var(--grayish-blue);
  }

  .md-white-space-xs-top {
    margin-top: var(--white-space-sm);
  }

  .faqs label { height: 65px; }
  .faqs input[type='checkbox']:checked + label:nth-child(2) { height: 180px; }
  .faqs input[type='checkbox']:checked + label:nth-child(4) { height: 300px; }
  .faqs input[type='checkbox']:checked + label:nth-child(6) { height: 220px; }
  .faqs input[type='checkbox']:checked + label:nth-child(8) { height: 190px; }

  .md-white-space-xs-bottom {
    margin-bottom: 1.5rem;
  }

  .md-white-space-xs {
    margin: 1rem 0;
  }
}

@media screen and (min-width: 641px) {
  .white-space-sm-right {
    margin-right: 1rem;
  }

  .white-space-xxl-bottom {
    margin-bottom: calc(var(--white-space-xl) * 1.8);
  }

  .white-space-xxxl-bottom {
    margin-bottom: calc(var(--white-space-xl) * 2.5);
  }
}