/* Best Mobile Preview: 375px :: Best Desktop Preview: 1440px */

@media screen and (max-width: 640px) {
  .nav-desktop {
    display: none;
  }

  .hamburger {
    display: inline;
  }

  .hero :is(div, figure) {
    width: 100%;
    text-align: center;
  }

  .hero div {
    padding-right: 0;
  }
  
  .hero figure {
    padding-left: 0;
    margin-bottom: calc(var(--white-space-sm) * 1.5);
  }

  .hero figure::before {
    bottom: calc(calc(var(--white-space-sm) * -1) / 5);
  }

  .md-width-100 {
    width: 100%;
  }

  .menu a {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 18px;
  }

  .menu a:first-child {
    border-top: solid 0.5px var(--grayish-blue);
  }
}