.logotype {
  width: auto;
  height: 25px;
}

.hamburger {
  display: none;
  width: auto;
  height: 20px;
  cursor: pointer;
}

.close {
  width: auto;
  height: 20px;
  cursor: pointer;
}

/* Card styles */

.card {
  background-color: var(--white);
  border-radius: var(--radius-md);
  font-size: 0.7rem;
  box-shadow: 0 8px 15px -5px rgb(83 104 223 / 20%);
  margin: 0 1rem;
  padding-top: 1rem;
  transition: transform 250ms ease;
}

.card a {
  padding: 0.8rem 1.6rem !important;
  margin: 1.5rem;
}

.card span {
  margin-bottom: 2rem;
}

.card img:first-child {
  padding: 0 1rem;
}

.card img {
  width: 100%;
}

.card img:first-child {
  width: 45%;
  margin: 2.5rem 0;
}

.card:hover {
  transform: translateY(-0.5rem);
}